<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NimbleKitty</title>
    <style>
      html {
        color: green;
        background-color: black;
        font-size: 14px;
        font-family: monospace;
        word-break: break-all;
      }

      .top-dog {
        margin: 0.5rem 0.3rem;
      }
    </style>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
